body{
    background-color: #170840;
    font-family: 'Montserrat', sans-serif;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:35vh;
    left:50vw;
    transform: translate(-50%,-50%);
    height:calc(100vh-100px);
}

.card{
    display: flex;
    flex-direction: column;
    flex:1;
    color:white;
    background-color: #089d5a;
    min-width: 300px; 
    min-height:150px;
    border-radius: 8px;
    overflow: hidden;
}

#quote{
    font-size: 25px;
    margin: 25px;
    /* flex: 1 1 auto; */
}

.card footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height:50px;
    background-color: #025730;
    margin-top: auto;
}

#author{
    margin-left: 10px;
}

.bi-twitter{
    color:white;
    font-size:25px;
    margin-right: 10px;
}

.bi-heart-fill{
    color:red;
}

button{
    cursor:pointer;
    color: white;
    width:150px;
    height:50px;
    background-color: black;
    margin-top:50px;
    border-radius: 8px;
}

.creator-footer{
    font-size: 12px;
    color:white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.creator-footer>p{
    text-align: center;
}


.github-link{
    color:white;
    text-decoration: none;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card{
        width:500px;
    }
}