body{
    background-color: #170840;
    font-family: 'Montserrat', sans-serif;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:35vh;
    left:50vw;
    transform: translate(-50%,-50%);
}

.card{
    display: flex;
    flex-direction: column;
    color:white;
    background-color: #089d5a;
    min-width: 300px; 
    min-height:150px;
    border-radius: 8px;
    overflow: hidden;
}

#quote{
    font-size: 25px;
    margin: 0 25px;
    /* flex: 1 1 auto; */
}

.card footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height:50px;
    background-color: #025730;
}

.author{
    margin-left: 10px;
}

.bi-twitter{
    color:white;
    font-size:25px;
    margin-right: 10px;
}

.bi-heart-fill{
    color:red;
}

button{
    color: white;
    width:150px;
    height:50px;
    background-color: black;
    margin-top:60px;
    border-radius: 8px;
}

.creator-tag{
    text-align: center;
    color:white;
    width:100%;
}

/* FOR MOBILE PHONES */
@media only screen and (max-width:768px){

}